*{
    margin: 0px;
    padding: 3px;
}
body{
 background-image:linear-gradient(to right, rgb(230, 189, 100),rgb(202, 140, 231));
}
.box{
   border: 2px solid rgb(241, 238, 243);
   width: 40%;
   height: 80vh;
   margin-left: 40%;
   margin-top: 6%;
   background-color: rgb(240, 248, 248);
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}
.Heading{
    background-color: rgb(247, 243, 243);
    color: rgb(126, 126, 240);
    margin-left: 300px;

}
.button{
    color: rgb(247, 247, 252);
    background-color: rgb(47, 47, 194);
}
.box2{
    border: 2px solid rgb(238, 199, 135);
    width: 20%;
    height: 80vh;
    margin-left: 19.2%;
    margin-top: -40.5%;
    background-color: rgb(238, 192, 135);
    
    
}
img{
    width: 250px;
    height: 250px;

}


input[type=text3],Email Address{
    width:60% ;
    padding: 4px 0px;
    margin: 4px o;
    display: inline-block;
    border: 0pxsolid;
    border-radius: 0px;
    box-sizing: content-box;
    margin-top: 10px;
}
input[type=text4],Password{
    width:60% ;
    padding: 4px 0px;
    margin: 4px o;
    display: inline-block;
    border: 0pxsolid;
    border-radius: 0px;
    box-sizing: content-box;
}
input[type=account] {
    height: 9px;
    width: 20%;
    background-color: #4327e2;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-right: 70px;
    margin-left: 0px;
}
input[type=account]:hover {
    background-color: #1b3aeb;
}